aws_region         = "eu-west-2"
availability_zones = ["eu-west-2a", "eu-west-2b"]
project_name       = "terraform-aws-cicd-lab"
environment        = "dev"
vpc_cidr           = "10.20.0.0/16"
bucket_name        = "eranda-cicd-lab-replace-with-unique-suffix"
